<ion-view title="Home">
    <ion-content>

            <h1><div><center>Please enter your name <center><div></div><h1>

            <div width="80%" class="list list-inset" style="margin-left:10%;margin-right:10%;">
                <label class="item item-input">
                    <input type="text" ng-model="user.name" placeholder="Name">
                </label>

                <button class="button button-full button-positive" ng-click="saveDetails()">
                    Submit
                </button>
            </div>
        </div>

    </ion-content>
</ion-view